@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --camin-teal: #12D9C6;
  --camin-blue: #082749;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}