@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --swadvice-green: #8BA89B;
  --swadvice-blue: #1B2A41;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}